@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	max-width: convert-px2rem(360);
	margin: 0 auto;

	@include md {
		max-width: unset;
	}

	@include lg {
	}
}

.title {
	margin-bottom: convert-px2rem(20);
	text-align: center;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: convert-px2rem(20);
}

.button {
	width: 100% !important;
	margin-top: convert-px2rem(24);
}

.content {
	max-width: convert-px2rem(360);
	margin: 0 auto;
}
