@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: none;
	@include md {
	}

	@include lg {
		display: flex;
		align-items: center;
		gap: convert-px2rem(20);
	}
}
