@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	&.fixedHeader {
		padding-top: convert-px2rem(var(--header-height-number));
	}

	@include md {
	}

	@include lg {
	}
}
