@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.wrap {
	background-color: var(--background);
	width: calc(100% - convert-px2rem(20));
	max-width: convert-px2rem(600);
	border-radius: convert-px2rem(10);
	max-height: 96%;
	@include md {
		width: 100%;
	}
}

.scroll {
	max-height: 100%;
}

.close {
	position: absolute;
	right: convert-px2rem(20);
	top: convert-px2rem(20);
}

.content {
	padding: convert-px2rem(60) convert-px2rem(20);
	position: relative;
}
