@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.buttons {
	position: absolute;
	right: convert-px2rem(10);
	top: 0;
	// height: convert-px2rem(var(--input-height-number));
	height: 100%;
	max-height: convert-px2rem(var(--input-height-number));
	@include flex-center;
	flex-direction: row;
}

.reset {
	width: convert-px2rem(24) !important;
	height: convert-px2rem(24) !important;

	svg {
		width: 18px !important;
	}
}

.calendar {
	width: convert-px2rem(24) !important;
	height: convert-px2rem(24) !important;
	@include flex-center;
	@include hover-opacity;

	svg {
		width: 16px;
		height: auto;
	}
}
