@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.button {
	transition:
		background-color var(--transition-duration),
		color var(--transition-duration),
		border-color var(--transition-duration);
	border: none;
	font-size: convert-px2rem(14);
	font-weight: 600;
	flex-shrink: 0;
	line-height: 1;
	border-radius: convert-px2rem(10);
	@include flex-center;
	flex-direction: row;
	gap: convert-px2rem(10);
	position: relative;
	text-decoration: none;
	width: fit-content;

	@include md {
	}

	@include lg {
	}

	&.sm {
		min-height: convert-px2rem(36);
		padding: convert-px2rem(5) convert-px2rem(10);
	}

	&.md {
		min-height: convert-px2rem(50);
		padding: convert-px2rem(5) convert-px2rem(16);
	}

	&.lg {
		min-height: convert-px2rem(60);
		padding: convert-px2rem(5) convert-px2rem(30);
	}

	&.var1 {
		background-color: var(--bg-button-1);
		color: var(--fg-button-1);
		border: 1px solid var(--bg-button-1);

		@include hover-wrapper {
			background-color: var(--bg-button-1-hover);
			color: var(--fg-button-1-hover);
			border-color: var(--bg-button-1-hover);
		}

		@include active-wrapper {
			background-color: var(--bg-button-1-active);
			color: var(--fg-button-1-active);
			border-color: var(--bg-button-1-active);
		}
	}

	&.var2 {
		background-color: var(--bg-button-2);
		color: var(--fg-button-2);
		border: 1px solid var(--fg-button-2);

		@include hover-wrapper {
			background-color: var(--bg-button-2-hover);
			color: var(--fg-button-2-hover);
			border-color: var(--bg-button-2-hover);
		}

		@include active-wrapper {
			background-color: var(--bg-button-2-active);
			color: var(--fg-button-2-active);
			border-color: var(--bg-button-2-active);
		}
	}
	&.var3 {
		background-color: var(--bg-button-3);
		color: var(--fg-button-3);

		@include hover-wrapper {
			background-color: var(--bg-button-3-hover);
			color: var(--fg-button-3-hover);
		}

		@include active-wrapper {
			background-color: var(--bg-button-3-active);
			color: var(--fg-button-3-active);
		}
	}

	&.loading {
		pointer-events: none;
	}

	&:disabled {
		background-color: var(--bg-button-disabled) !important;
		color: var(--fg-button-disabled) !important;
		border-color: var(--bg-button-disabled) !important;

		cursor: not-allowed;
	}
}

.icon {
	transition: opacity var(--transition-duration);
	max-width: convert-px2rem(24);
	max-height: convert-px2rem(24);

	&.right {
		order: 1;
	}

	svg {
		width: 100%;
		height: auto;
	}
}

.spinner {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
