@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.previewBlock {
	margin-top: convert-px2rem(4);
	display: flex;
	flex-direction: column;
	gap: convert-px2rem(5);
}

.previewName {
	display: inline-block;
}

.fileName {
	@include small-text();
	display: inline;
	word-break: break-word;
}

.reset {
	margin-left: convert-px2rem(5) !important ;
	vertical-align: middle;
	display: inline-flex !important;
	width: convert-px2rem(12) !important;
	height: convert-px2rem(12) !important;
}

.previewImage {
	width: 100%;
	height: auto;
	box-shadow: var(--box-shadow);
}
