@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";
.block {
	z-index: var(--z-index-burger);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background);
	transform: translateX(100%);
	transition: transform var(--transition-duration);

	@include md {
	}

	@include lg {
	}

	&.open {
		transform: translateX(0);
	}
}

.wrapper {
	position: absolute;
	top: convert-px2rem(calc(var(--header-height-number)));
	left: 0;
	right: 0;
	bottom: 0;
}

.content {
	// min-height: 1500px;
}
