@mixin hover-wrapper {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin active-wrapper {
	@media (hover: hover) {
		&:active {
			@content;
		}
	}
}

$maxWidthContainer: 1280;

@mixin adaptive-value($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: $startSize + px;
	@media (max-width: #{$maxWidthContainer + px}) {
		#{$property}: calc(
			#{$minSize + px} + #{$addSize} *
				((100vw - 320px) / #{$maxWidthContainer - 320})
		);
	}
}

@mixin adaptive-value-important($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: $startSize + px !important;
	@media (max-width: #{$maxWidthContainer + px}) {
		#{$property}: calc(
			#{$minSize + px} + #{$addSize} *
				((100vw - 320px) / #{$maxWidthContainer - 320})
		) !important;
	}
}

@mixin flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin backdrop {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

@mixin hover-opacity {
	transition: opacity var(--transition-duration);

	@include hover-wrapper {
		opacity: 0.7;
	}

	@include active-wrapper {
		opacity: 0.7;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin line-clamp($lines) {
	line-clamp: $lines;
	-webkit-line-clamp: $lines;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin user-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@mixin scrollbar {
	@-moz-document url-prefix() {
		scrollbar-width: thin;
		scrollbar-color: var(--color-scrollbar-thumb) transparent;
	}

	&::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--color-scrollbar-thumb);
		border-radius: 5px;
	}
}

@mixin scrollbar-all-children {
	@-moz-document url-prefix() {
		* {
			scrollbar-width: thin;
			scrollbar-color: var(--color-scrollbar-thumb) transparent;
		}
	}

	*::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
	*::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 5px;
	}
	*::-webkit-scrollbar-thumb {
		background-color: var(--color-scrollbar-thumb);
		border-radius: 5px;
	}
}
