@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	max-width: convert-px2rem(1440);
	padding: 0 convert-px2rem(10);
	width: 100%;
	margin: 0 auto;
	position: relative;
	@include md {
	}

	@include lg {
		padding: 0 convert-px2rem(30);
	}
}
