@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@include md {
	}

	@include lg {
	}

	& > div {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.wrap {
	position: relative;
	z-index: 1;
	margin: auto;
	text-align: center;
	padding: convert-px2rem(60) 0;
}

.title {
	margin: convert-px2rem(20) auto;
}

.btnWrap {
	margin: 0 auto;
	width: fit-content;
	margin-top: convert-px2rem(30);
}
