@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.wrap {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: convert-px2rem(var(--input-border-radius-number));
	border: 1px solid var(--color-input-border);
	padding: convert-px2rem(14) convert-px2rem(4) convert-px2rem(14) 0;
	transition: border-color var(--transition-duration);

	&:has(.input:focus-visible) {
		border-color: var(--color-input-border-focused);
	}

	&.error {
		border-color: var(--color-alert) !important;
	}

	&.disabled {
		cursor: not-allowed;
		background-color: var(--bg-input-disabled);
	}
}

.input {
	display: block;
	width: 100%;
	font-size: convert-px2rem(16);
	padding-right: convert-px2rem(32);
	padding-left: convert-px2rem(16);
	resize: vertical;
	min-height: convert-px2rem(150);
	max-height: convert-px2rem(400);
	border: none;
	outline: none;
	@include scrollbar;

	&::-webkit-scrollbar-thumb {
		cursor: auto;
	}

	&::placeholder {
		opacity: 1;
		color: var(--color-input-placeholder);
	}

	&:disabled {
		resize: none;
		cursor: not-allowed;
		color: var(--fg-input-disabled);
	}
}
