@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	flex-wrap: wrap;
	gap: convert-px2rem(5);
	@include md {
	}

	@include lg {
	}
}

.link {
	width: convert-px2rem(40);
	height: convert-px2rem(40);
	flex-shrink: 0;

	@include flex-center;
	border-radius: 50%;

	transition:
		background-color var(--transition-duration),
		color var(--transition-duration);

	background-color: var(--bg-button-1);
	color: var(--fg-button-1);

	@include hover-wrapper {
		background-color: var(--bg-button-1-hover);
		color: var(--fg-button-1-hover);
	}

	@include active-wrapper {
		background-color: var(--bg-button-1-active);
		color: var(--fg-button-1-active);
	}
}
